<div class="container">
    {% paginate search.results by 4 %}



    {% if search.performed %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="display-4 text-center mt-5 mb-5">
                Search results for "{{ search.terms }}"
            </h1>
        </div>
    </div>


    <div class="row">

        {% for result in search.results %}
        {% if result.price %}
        <div class="product-item col-lg-4 mb-5">
            {% render 'product-item', product: result %}
        </div>
        {% elsif result.author %}
        <div class="col-lg-4 mb-5 blog-box">
            {% render 'blog-item', article: result %}
        </div>
        <a href="{{ result.url }}">{{ result.title }}</a>
        {% else %}
        <a href="{{ result.url }}">{{ result.title }}</a>
        {% endif %}

        {% endfor %}
    </div>
    {% else %}
    <script> window.location.href = '/';</script>
    {% endif %}

    {{ paginate | default_pagination }}



    {% endpaginate %}
</div>